**/.idea/
**/out/
**/target/
**/data/
**/*.iml
/11_Multithreading/ImageResizer/src/main/resources/to/
/11_Multithreading/Transactions/.allure/
/11_Multithreading/ImageResizer/src/main/resources/from/
/11_Multithreading/SiteMapByForkJoin/src/main/java/Test.java
/11_Multithreading/SiteMapByForkJoin/src/main/resources/test.json
