**/.idea/
**/out/
**/target/
**/data/
**/*.iml
/11_Multithreading/ImageResizer/src/main/resources/to/
/11_Multithreading/Transactions/.allure/
/11_Multithreading/ImageResizer/src/main/resources/from/
/11_Multithreading/SiteMapByForkJoin/src/main/java/Test1111.java
/11_Multithreading/SiteMapByForkJoin/src/main/resources/test.json
/11_Multithreading/SiteMapByForkJoin/src/main/resources/map.txt
/12_SpringBootWebDevelopment/ToDoList/Dockerfile
/12_SpringBootWebDevelopment/ToDoList/src/main/resources/application_for_Heroku.properties
/14_Performance/VoteAnalyzer/src/main/resources/data-0.2M.xml
/14_Performance/VoteAnalyzer/src/main/resources/data-1M.xml
/14_Performance/VoteAnalyzer/src/main/resources/data-18M.xml
/14_Performance/VoteAnalyzer/src/main/resources/data-1572M.xml
/14_Performance/CarNumberGenerator/result/
/14_Performance/VoteAnalyzer/csv/
/15_BigData/HDFSExample/src/main/resources/voina-i-mir.txt
/11_Multithreading/SiteMapByForkJoin/parse_results/
