<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="ConsoleInfo" target="SYSTEM_OUT">
      <Filters>
        <MarkerFilter marker="INFO"/>
      </Filters>
      <PatternLayout pattern="%-5p [%t]: %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef level="error" ref="Console"/>
      <AppenderRef ref="ConsoleInfo"/>
    </Root>
  </Loggers>
</Configuration>