<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<div align="center">
    <h2>Список дел</h2>
    <form action="/edit" method="post">
        <input name="id" th:attr="value=${id}" type="hidden">
        <textarea cols="40" name="content" placeholder="Input your action" rows="3" th:text="${content}"></textarea>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>
</body>
</html>