<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<div>
    <form method="post" style="text-align: right" th:action="@{/logout}">
        <input type="submit" value="Sign Out"/>
    </form>
    <form style="text-align: right">
        <button formaction="/user" formmethod="get">User list</button>
    </form>
    <table border="1px" cellpadding="10" cellspacing="0" style="margin: auto">
        <caption style="padding-bottom: 20px">
            <h2>Список дел</h2>
            <form action="/" method="post">
                <textarea cols="40" name="content" placeholder="Input your action" rows="3"></textarea>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <p>
                    <button type="submit">Save</button>
                </p>
            </form>
            <form action="/" method="get">
                <input name="filter" th:value="${filter}" type="text">
                <button type="submit">filter</button>
            </form>
        </caption>
        <tr>
            <th>Содержание</th>
            <th>Время добавления<br> или изменения</th>
            <th>Логин</th>
        </tr>
        <tr th:each="action : ${allActions}">
            <td th:attr="data-id=${action.id}" th:text="${action.content}"></td>
            <td th:attr="data-id=${action.id}" th:text="${action.timeStamp}"></td>
            <td th:attr="data-id=${action.id}" th:text="${action.owner.login}"></td>
            <td>
                <form>
                    <button formmethod="post" th:formaction="@{${action.id}+'/edit/'}" type="submit">Edit</button>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                </form>
            </td>
            <td>
                <form>
                    <button formmethod="post" th:formaction="@{${action.id}+'/del/'}" type="submit">Delete</button>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>